<?xml version='1.0' encoding='utf-8'?>
<widget id="hau.edu.vn" android-versionCode="10006"  version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ESSOFT</name>
    <description>
       Phần mềm quản lý đào tạo ESSOFT
    </description>
    <author email="vinhpq99@gmail.com" href="http://www.namvietjsc.edu.vn">
        Công ty cổ phần giải pháp giáo dục - y tế Nam Việt
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <engine name="browser" spec="^5.0.4" />
    <engine name="ios" spec="^4.5.5" />
</widget>
